@model MoreViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "More Test";
}

<h1>Hello from More Test Controller</h1>
<h2>Your age is: @Model.Age</h2>
<h2>Address is: @Model.Address</h2>

